.logo{
  height: 100px;
  width: 100px;
}
.main{
  text-align: center;
}
.user{
  text-align: center;
}
.anniu{
  background-color: black;
  color: white;
  width: 150px;
  height: 15px;
  padding: 20px;
  text-align: center;
  font-size: 15px;
}